{% block body %}
<h2>Artists</h2>
<br>
<table>
  <thead>
    <th>Name</th>
    <th></th>
  </thead>
  <tbody>
    {% for artist in artists %}
      <tr>
        <td>{{artist.name}}</td>
        <td><a href="/artists/{{artist.id}}">Details<a></td>
        <td>
          <form action="/artists/{{artist.id}}/delete" method="POST">
            <input type="submit" value="Delete">
          </form>
        <td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<a href="/artists/new">New Artist</a>

{% endblock %}
